[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qtwAcademic"]
	path = qtwAcademic
	url = https://github.com/chizapoth/qtwacademic
